/* Put negative valued margins throughout CSS to try to fill out white gaps as much as possible*/
header, footer {
  background-color: black;
  color: aquamarine;
  font-family: Garamond, serif;
  text-align: center;
  margin: -19px -13px;
}

/* Made font of h1 the biggest to make it focal point of page*/
h1 {
  padding-top: 5px;
  font-size: 40px;
}

h2 {
  padding-bottom: 5px;
  font-size: 25px;
}

h3 {
  font-family: Garamond, serif;
  font-size: 22px;
  text-align: center;
  margin-left: 550px;
  margin-right: 550px;
  padding:5px;
  border: 5px double aquamarine;
  border-radius: 10px;
}

main {
  margin: -9px -13px;
  padding: 5px;
}

main div p{
  font-size: 19px;
  font-family: Garamond, serif;
  margin: 5px 20%;
}

ul, ol {
  font-size: 19px;
  font-family: Garamond, serif;
  margin: 10px 20%;
  padding: auto;
}

/* Used pseudo-classes to change the color of the link text during different actions such as when cursor hovers over it or clicks on it*/
ol a:link {
  color: aqua;
}

ol a:visited{
  color: orange;
}

ol a:hover {
  color: aquamarine;
  font-weight: 900;
}

ol a:active {
  color:hotpink;
}

main {
  background-color: lightslategray ;
}

hr {
  border: 2px solid aquamarine;
  width: 95%;
}

/* The styling done on the photo was to center the image on the web page */
.photo {
  width: 300 px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}